body {
  max-width: 100%;
  min-width: $width;
  margin: 0 auto;
  text-align: center;
  font-family: $font1;
}

.row {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}
.container {
  @include flex(row,wrap,space-around,flex-start);
}