/*button*/

.btn {
  @include font($btn-font,600,15px,normal,normal,normal,#FFFFFF);
  text-align: center;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 1rem auto;
  box-sizing: border-box;
  span.text{
    position: relative;
    z-index: 2
  }
  span.background {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #2a3239;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &:hover {
    color: #d1d4d7;
    span.background {
      width: 225%;
      height: 562.5px;
    }
  }
  &:active {
    background-color: #46535f;
  }
  &--transparent{
    @include font($font2, 400, 16px, normal, normal, normal, #FFFFFF);
    background: none;
    border-radius: 50px;
    border: 4px solid $white;
    max-width: 232px;
    padding: 13px 10px;
  }
  &--primary{
    background: $primary-color;
    border-radius: 50px;
    border: 1px solid transparent;
    max-width: 212px;
    padding: 18px 10px;
  }
}
.ctcBtn{
  background: none;
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  max-width: 212px;
  padding: 18px 10px;
}
