/*typography*/

.text-primary {
  color: #B11414;
}

.text-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}
