// row and body
$width: 1200px;
$max-width: (1440px + 30px);
$min-width: 320px;
// COLOR
$primary-color: #04396C;
$secondary-color: #3691BE;
$third-color: #04396C;
$forth-color: #04396C;
$black: #000000;
$white: #FFFFFF;

// font
$font1: 'Arial';
$font2: 'Arial';
$font3: 'Arial';
$font4: 'Arial';
$h1-font: 'Arial';
$h2-font: 'Arial';
$p-font: 'Arial';
$btn-font: 'Arial';
