/*-----------------------------------------------------------------
Header-------------------------------------------------------------
-----------------------------------------------------------------*/
.header {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 999999;
  // min-width: 1200px;
  // transition: all 0.5s ease;
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      @include flex(row,wrap,space-around,center);
      li {
        display: inline-block;
        a {
          display: block;
          @include font($font2,400,16px,normal,normal,120%,$white);
        }
        &.active-menu a, a:hover {
          background: $secondary-color;
        }
      }
    }
  }
}