a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  .blue {
    color: $secondary-color;
  }

  .green {
    color: $primary-color;
  }
}
h1 {
  @include font($h1-font,400,91px,normal,normal,111%,$black);
}
h2{
  @include font($h1-font,400,88px,normal,normal,normal,$primary-color);
}
h3{
  @include font($font4, 600, 36px, normal, normal, 139%, $black);
}
h4 {
  @include font($font1, 800, 24px, normal, 0.2em, 120%, $black);
}
h5{
  @include font($font1, 700, 15px, normal, 0.3em, 120%, $primary-color);
}
