/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
  .row{
    max-width: 1200px;
    margin: 0 auto;
  }
}
.inner #content h1{
  @include font($h1-font,400,60px,normal,normal,normal,$primary-color);
}
.inner #content h2 {
  @include font($h1-font, 400,50px, normal, normal, normal, $black);
}
/*Sticky*/
@media screen and (min-width: 1024px){
  .sticky{
  }
}