@media screen and (max-width:1199px) {
    .col-xl-1 {
        width: 16.66%;
        flex-basis: 16.66%;
    }

    .col-xl-2 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-xl-3 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-xl-4 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-xl-5 {
        width: 50%;
        flex-basis: 50%;
    }

    .col-xl-6 {
        width: 58.33%;
        flex-basis: 58.33%;
    }

    .col-xl-7 {
        width: 66.66%;
        flex-basis: 66.66%;
    }

    .col-xl-8 {
        width: 75%;
        flex-basis: 75%;
    }

    .col-xl-9 {
        width: 83.33%;
        flex-basis: 83.33%;
    }

    .col-xl-10 {
        width: 91.66%;
        flex-basis: 91.66%;
    }

    .col-xl-11 {
        width: 100%;
        flex-basis: 100%;
    }

    .col-xl-12 {
        width: 100%;
        flex-basis: 100%;
    }

}

@media screen and (max-width: 1024px) {
    [class*="col-xl"] {
        width: 100%;
        flex-basis: 100%;
    }

    .col-xl-1 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-xl-2 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-xl-3 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-xl-4 {
        width: 50%;
        flex-basis: 50%;
    }

    .col-lg-1 {
        width: 16.66%;
        flex-basis: 16.66%;
    }

    .col-lg-2 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-lg-3 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-lg-4 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-lg-5 {
        width: 50%;
        flex-basis: 50%;
    }

    .col-lg-6 {
        width: 58.33%;
        flex-basis: 58.33%;
    }

    .col-lg-7 {
        width: 66.66%;
        flex-basis: 66.66%;
    }

    .col-lg-8 {
        width: 75%;
        flex-basis: 75%;
    }

    .col-lg-9 {
        width: 83.33%;
        flex-basis: 83.33%;
    }

    .col-lg-10 {
        width: 91.66%;
        flex-basis: 91.66%;
    }

    .col-lg-11 {
        width: 100%;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 960px) {
    [class*="col-xl"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-lg"] {
        width: 100%;
        flex-basis: 100%;
    }

    .col-lg-1 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-lg-2 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-lg-3 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-lg-4 {
        width: 50%;
        flex-basis: 50%;
    }

    .col-md-1 {
        width: 16.66%;
        flex-basis: 16.66%;
    }

    .col-md-2 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-md-3 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-md-4 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-md-5 {
        width: 50%;
        flex-basis: 50%;
    }

    .col-md-6 {
        width: 58.33%;
        flex-basis: 58.33%;
    }

    .col-md-7 {
        width: 66.66%;
        flex-basis: 66.66%;
    }

    .col-md-8 {
        width: 75%;
        flex-basis: 75%;
    }

    .col-md-9 {
        width: 83.33%;
        flex-basis: 83.33%;
    }

    .col-md-10 {
        width: 91.66%;
        flex-basis: 91.66%;
    }

    .col-md-11 {
        width: 100%;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 800px) {
    [class*="col-xl"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-lg"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-md"] {
        width: 100%;
        flex-basis: 100%;
    }

    .col-md-1 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-md-2 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-md-3 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-md-4 {
        width: 50%;
        flex-basis: 50%;
    }

    .col-sm-1 {
        width: 16.66%;
        flex-basis: 16.66%;
    }

    .col-sm-2 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-sm-3 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-sm-4 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-sm-5 {
        width: 50%;
        flex-basis: 50%;
    }

    .col-sm-6 {
        width: 58.33%;
        flex-basis: 58.33%;
    }

    .col-sm-7 {
        width: 66.66%;
        flex-basis: 66.66%;
    }

    .col-sm-8 {
        width: 75%;
        flex-basis: 75%;
    }

    .col-sm-9 {
        width: 83.33%;
        flex-basis: 83.33%;
    }

    .col-sm-10 {
        width: 91.66%;
        flex-basis: 91.66%;
    }

    .col-sm-11 {
        width: 100%;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 620px) {
    [class*="col-xl"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-lg"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-md"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-sm"] {
        width: 100%;
        flex-basis: 100%;
    }

    .col-sm-1 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-sm-2 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-sm-3 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-sm-4 {
        width: 50%;
        flex-basis: 50%;
    }

    .col-xs-1 {
        width: 16.66%;
        flex-basis: 16.66%;
    }

    .col-xs-2 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-xs-3 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-xs-4 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-xs-5 {
        width: 50%;
        flex-basis: 50%;
    }

    .col-xs-6 {
        width: 58.33%;
        flex-basis: 58.33%;
    }

    .col-xs-7 {
        width: 66.66%;
        flex-basis: 66.66%;
    }

    .col-xs-8 {
        width: 75%;
        flex-basis: 75%;
    }

    .col-xs-9 {
        width: 83.33%;
        flex-basis: 83.33%;
    }

    .col-xs-10 {
        width: 91.66%;
        flex-basis: 91.66%;
    }

    .col-xs-11 {
        width: 100%;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 520px) {
    [class*="col-xl"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-lg"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-md"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-sm"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-xs"] {
        width: 100%;
        flex-basis: 100%;
    }

    .col-xs-1 {
        width: 25%;
        flex-basis: 25%;
    }

    .col-xs-2 {
        width: 33.33%;
        flex-basis: 33.33%;
    }

    .col-xs-3 {
        width: 41.66%;
        flex-basis: 41.66%;
    }

    .col-xs-4 {
        width: 50%;
        flex-basis: 50%;
    }
}

@media screen and (max-width: 480px) {
    [class*="col-xl"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-lg"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-md"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-sm"] {
        width: 100%;
        flex-basis: 100%;
    }

    [class*="col-xs"] {
        width: 100%;
        flex-basis: 100%;
    }
}