@media screen and (max-width: 1024px) {
	body{
		min-width: $min-width;
	}
}
@media screen and (max-width: 800px){
	h1, h2{font-size: 50;}
	.header {padding: 50px 0 0}
	.header .row {width: 100%}
	.header nav {display:block; height: auto; position: absolute; top: 0; left: 0; right: 0;}
  	.header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;box-sizing: border-box;}
  	.header nav ul li { width: 100%;position: relative; }
  	.header nav ul li a { display: block; float:none; padding: 10px 0;}
  	.header nav a {text-align: left; width: 100%;}
	.header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	.header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	.header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: $primary-color  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid $secondary-color ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
